h1 {
	font-size: 1.5rem;
	margin: 5px;
}

.containerHeader {
	background-color: white;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #ffa630;
	width: 400px;
	z-index: 2;
	position: absolute;
	min-height: 140px;
	display: flex;
	flex-direction: column;
	border-radius: 6px;
	align-self: center;
	top: 30px;
	right: 0;
	left: 0;
	margin: 0 auto;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media screen and (max-width: 500px) {
	.containerHeader {
		width: calc(100% - 40px);
	}
	h1 {
		font-size: 1em;
	}
}
